{{ template "layout.html" . }}

{{ define "title" }}Page Not Found{{ end }}

{{ define "content"}}
<p class="lead">This is not the page you are looking for.</p>

<p><a href="/" class="btn btn-primary btn-lg">Return to home page</a></p>

<p>The page you have requested does not exist:</p>

<pre>{{ .URL }}</pre>
{{ end}}
