{{ template "layout.html" . }}

{{ define "title" }}{{ . }}{{ end }}

{{ define "navbar-left" }}
  <a href="/edit/{{ . }}" class="btn btn-outline-secondary btn-sm">Create page</a>
{{ end }}

{{ define "content"}}
<p class="lead">This page does not exist yet.</p>
<p><a href="/edit/{{ . }}" class="btn btn-primary btn-lg">Create page</a></p>
{{ end}}
