{{ template "layout.html" . }}

{{ define "title" }}Editing {{ .Title }}{{ end }}

{{ define "navbar-left" }}
  <a href="/view/{{ .Title }}" class="btn btn-outline-danger btn-sm">Cancel editing</a>
{{ end }}

{{ define "content" }}
  <div>{{ .Body }}</div>

  <form method="post">
    <div class="mb-3">
      <textarea class="form-control font-monospace" rows="20" name="body">{{ .Source }}</textarea>
    </div>
    <button type="submit" name="action" value="preview" class="btn btn-primary">Preview</button>
    <button type="submit" name="action" value="save"  class="btn btn-secondary">Save</button>
    <a href="/view/{{ .Title }}" class="btn btn-danger">Cancel</a>
  </form>
{{ end }}
