{{ template "layout.html" . }}

{{ define "title" }}Sign Up{{ end }}

{{ define "content" }}
  <form method="post" novalidate>
    {{ if .Form.HasErrors }}
      <div class="alert alert-danger" role="alert">
        Please fix errors below and submit the form again.
      </div>
    {{ end }}

    {{ template "errlist" .Form.FormErrors }}

    <div class="mb-3">
      {{ template "form:string" .Form.Username }}
    </div>
    <div class="mb-3">
      {{ template "form:string" .Form.Email }}
    </div>
    <div class="mb-3">
      {{ template "form:string" .Form.Password }}
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
{{ end }}
