{{ template "layout.html" . }}

{{ define "navbar-left" }}
  <a href="/edit/{{ .Title }}" class="btn btn-outline-secondary btn-sm">Edit page</a>
{{ end }}

{{ define "title" }}{{ .Title }}{{ end }}

{{ define "content" }}
    <div>{{ .Body }}</div>
{{ end}}
