{{ define "form:string" }}
<label for="{{ .Name }}-input" class="form-label">{{ .Label }}</label>
      <input
        type="{{ .Type }}"
        name="{{ .Name }}"
        value="{{ .RawValue }}"
        class="form-control{{ if .Errors }} is-invalid{{ end }}"
        {{ if .Errors }}aria-describedby="invalid-{{ .Name }}"{{ end}}
        id="{{ .Name }}-input"
        placeholder="{{ .Placeholder }}"
        {{ if .MaxLength }}maxlength="{{ .MaxLength }}"{{ end }}
        {{ if .MinLength }}minlength="{{ .MinLength }}"{{ end }}
        {{ if .Required }}required{{ end }}
      >
      <div class="invalid-feedback" id="invalid-{{ .Name }}">
        {{ template "errlist" .Errors }}
      </div>
{{ end }}
