
<!doctype html>
<html class="h-100">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{{ block "title" . }}{{ end}}</title>
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>
        <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png" />
        <link rel="manifest" href="/static/favicon/site.webmanifest" />
    </head>
    <body class="d-flex flex-column h-100">
        <header>
            <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
                <div class="container">
                  <a class="navbar-brand" href="/">
                    <img src="/static/favicon/favicon-32x32.png" alt="" width="24" height="24" class="d-inline-block align-middle">
                    GoWiki
                </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="d-flex justify-content-between w-100">
                      <div>{{ block "navbar-left" . }}{{ end }}</div>
                      <div>{{ block "navbar-center" . }}{{ end }}</div>
                      <div>
                        {{ block "navbar-right" . }}{{ end }}
                        <a href="/signup" class="btn btn-sm btn-primary">Sign Up</a>
                        <a href="https://gitlab.com/fenryxo/gowiki/" class="btn btn-sm btn-outline-dark">Project repository</a>
                      </div>
                    </div>
                  </div>
                </div>
              </nav>
        </header>
        <main class="flex-shrink-0">
            <div class="container">
                <div >
                    <h1 class="mt-5 pt-4">{{ block "heading" . }}{{ template "title" . }}{{ end }}</h1>
                </div>
                {{ block "content" . }}{{ end }}
            </div>
        </main>
        <footer class="footer mt-auto py-3 bg-light">
            <div class="container">
              &copy; 2021 Jiří Janoušek
            </div>
          </footer>
    </body>
</html>
